.chicken1{
    background-color: antiquewhite;
    margin-top: 1rem;
    padding: 2rem;
   
}
.beef2{
    background-color: rgb(231, 198, 154);
    margin-top: 1rem;
    padding: 2rem;
}
.sushi3{
    margin-top: 1rem;
    background-color: rgb(215, 216, 153);
    padding: 2rem;
}

h3{
font-family: Arial, Helvetica, sans-serif;
font-weight: 900;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 1rem;
}
p{
    text-indent: 2em;
    text-align: justify;
}

    
